* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

#nav-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-text{
    padding: 10px;
    font-weight: bolder;
}

nav>div>h1{
    font-size: x-large;
    font-family: cursive;
    margin-right: 620px;
}

nav>div>h2{
    font-size: medium;
    font-family: sans-serif;
}

p, button{
    font-family: Arial, Helvetica, sans-serif;
}

.about-p{
    margin: 8px;
}

#main-wrapper{
    background-image: radial-gradient( #6f5964 70%, black);
}

.main-content{
    display: flex;
    justify-content: center;
}

.main-divs,.main-sections{
    padding: 10px;
}

#self-photo{
    max-width: 500px;
    border: gray;
    border-style: solid;
    border-width: 0.2rem;
}

.main-sections{
    width: 330px;
}

.main-headers{
    background-image: linear-gradient(#bab9bd,#878593, #bab9bd);
    font-weight: bolder;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 5px;
}

#about{
    height: 282px;
    width: 485px;
}

.main-body,.main-tech{
    background-image: linear-gradient( to left,#dacbd9, white);
    padding: 10px;
}


.port-pics{
    width: 330px;
    margin-bottom: -4px;
}

.main-tech{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

li{
    display: inline-flex;
    margin-right: 1rem;
}

.icons{
    width: 40px;
}

#button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( to left,#dacbd9, white);
    padding: 5px;
}

button{
    background-color: green;
    width: fit-content;
    color: white;
    border: black;
    border-style: solid;
    border-width: 0.1rem;
    padding: 2px;
}

.footer-header{
    display: flex;
    justify-content: center;
    padding: 0.2rem;
}

.footer-icons{
    width: 20px;
    margin-right: 5px;
}